.auto-categorize-rule-table-row {
    .actions-cell {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .re-order-buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .invisible {
                visibility: hidden;
            }
        }

        .details-button {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
