@mixin max-width {
    width: 100%;
    max-width: 100%;
}

.auto-categorize-rules-table {
    @include max-width;

    thead {
        th:nth-child(4) {
            text-align: right;
        }
    }
}
