@import '../../../styles/dialog';

.auto-categorize-rule-details-form {
    display: flex;
    flex-direction: column;
    width: 100%;

    hr {
        width: 100%;
    }
}

.auto-categorize-rule-details-actions {
    @include dialog-actions;
}
