@import '../../../styles/dialog';

.category-details-dialog {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .category-details-form {
        margin: 1rem auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .name-field {
            width: 50%;
        }
    }
}

.category-details-actions {
    @include dialog-actions;
}
