@import '../../../styles/page';

.categories {
    .table-wrapper {
        width: 100%;

        th:nth-child(3) {
            @include right-align;
        }

        td:nth-child(1) {
            text-align: center;
        }

        td:nth-child(3) {
            @include right-align;
        }
    }
}
