.slide-dialog {
    // stylelint-disable-next-line selector-class-pattern
    .MuiDialog-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .dialog-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: none;
        height: 100%;

        .body {
            margin: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
