@import '../../../styles/page';

@mixin max-width {
    width: 100%;
    max-width: 100%;
}

.transactions-table {
    @include max-width;

    > form {
        @include max-width;
        @include column-align-center;
    }

    &.edit {
        thead {
            th:nth-child(1) {
                text-align: center;
                width: 10%;
            }
        }
    }

    .confirm-all-checkbox {
        // stylelint-disable-next-line selector-class-pattern
        .MuiFormControlLabel-label {
            font-weight: bold;
            font-size: 0.875rem;
        }
    }

    .confirmed-cell {
        text-align: center;
    }

    .category-cell {
        &.edit {
            width: 30%;
        }
    }

    td.description-cell {
        max-width: 20rem;
        word-wrap: break-word;
    }

    .flags-wrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
        width: 100%;

        .flag-row {
            display: flex;
            flex-direction: row;
        }
    }
}
