.transaction-search-filters {
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
