.alerts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 10000000;

    // stylelint-disable-next-line selector-class-pattern
    .MuiAlert-root {
        margin: 0.5rem auto;
        width: 100%;
    }
}
